/*css*/

/*
 * blue: #ebf6ff
 * peach: #fff4eb
 */

body {
  font-family: Laria,serif;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display",serif;
  font-weight: bold;
}

.ws-container {
  max-width: 750px;
}

.ws-jumbotron {
  margin-top: 8rem;
  text-align: center;
  padding: 10rem;
  background-color: #fff4eb;
}

article {
  margin: 8rem;
}

footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
}

.copyright {
  font-family: Arial, sans-serif;
}
