/*css*/

/*
 * blue: #ebf6ff
 * peach: #fff4eb
 */

body {
  font-family: "Lora",serif;
}

h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
}


h1, h2, h3 {
  font-family: "Playfair Display",serif;
  font-weight: bold;
}

.ws-jumbotron {
  padding: 10rem;
  background-color: #fff4eb;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.big-card img {
}

.ws-card-img {
  padding-top: 2rem;
  border-radius: 0rem;
}

.ws-container {
  max-width: 700px;
}

.article {
  margin-top: 8rem;
  margin-bottom: 8rem;
  max-width: 650px;
}

footer {
  padding: 2.5rem 0;
  color: #999;
  background-color: #f9f9f9;
}

.copyright {
  font-family: Arial, sans-serif;
}
