<div class="row no-gutters overflow-hidden flex-md-row position-relative">
  <div class="col-md-3 col-4">
    <img src="{{ .Site.BaseURL}}/img/{{ .Params.image }}" class="card-img ws-card-img" alt=""> </img>
  </div>
  <div class="col-md-9 col-8 p-4 d-flex flex-column position-static">
    <h3 class="mb-0">{{ .Title }}</h3>
    <div><a class="mb-1 text-muted">{{ .Date.Format "02-01-2006" }}</a>   <strong class="d-inline-block mb-2 text-primary">World</strong></div>
    <p class="card-text mb-auto">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" class="stretched-link">Plus →</a>
  </div>
</div>
