{{ partial "head" . }}
<div class="container ws-container">
  {{partial "nav" . }}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {{ range .Pages }}
      <div class="row p-4 ws-card">
        <div class="col-md-4">
          <a href="/{{ .Params.slug }}">
            <img src="/img/{{ .Params.image }}" class="card-img ws-card-img" alt="">
            </img>
          </a>
        </div>
        <div class="col-md-8">
          <h4 class="card-title"> <a href="/{{ .Params.slug }}">{{ .Title }}</a></h4>
          <div class="ws-date"><a class="mb-1 text-muted">{{ .Date.Format "02-01-2006" }}</a></div>
          <p class="card-text">{{ .Summary }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ partial "foot" . }}
